<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="10px"
   height="10px"
   viewBox="0 0 5 5"
   xmlns:svg="http://www.w3.org/2000/svg">\
  <defs
     id="defs2" />
  <g
     inkscape:label="Слой 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       style="fill:var(--dark-font-color);stroke:none;stroke-width:0.255712;stroke-opacity:1;fill-opacity:1"
       id="path3692"
       d="M 2.6250701,4.8748666 A 2.4819117,2.3749299 0 0 1 0.4646758,3.6991431 2.4819117,2.3749299 0 0 1 0.45252968,1.3209501 2.4819117,2.3749299 0 0 1 2.6008115,0.1250772 l 0.00617,2.3749226 z"
       sodipodi:type="arc"
       sodipodi:arc-type="slice"
       sodipodi:start="1.5635082"
       sodipodi:end="4.7099029"
       sodipodi:ry="2.3749299"
       sodipodi:rx="2.4819117"
       sodipodi:cy="2.4999998"
       sodipodi:cx="2.6069818" />
    <ellipse
       style="fill:var(--dark-font-color);fill-opacity:0;stroke:var(--dark-font-color);stroke-width:0.251691;stroke-opacity:1"
       id="path7744"
       cx="2.5"
       cy="2.5"
       rx="2.3741546"
       ry="2.3741543" />
  </g>
</svg>
