secret_data.py
core_app/templates/task_views/*
**/db.sqlite3
**/__pycache__/*
**/venv/*
**/menu.html
data/userdata/*
10_1-dew.md
data/*
ltc/*
static/*
**/.DS_Store

# Vue ignores
frontend/*.DS_Store
frontend/node_modules/**
frontend/dist/**
**/webpack-stats.json

# local env files
frontend/*.env.local
frontend/*.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/*.idea
.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
