{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load laterem %}

{% block content %}
{% if allgroup %}
    <div id="all-groups-table-header">
        <div style="grid-column: 1;"><span style="font-size: larger;">Все группы</span></div>
        <div style="grid-column: 3;">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="new-group" class="button-icon">{% include "icons/add-group-icon.html" %}Добавить &nbsp;</button>
            </form>
        </div>
    </div>
    <div id="all-groups-table">
        {% for group in allgroup %}
        <div class="all-groups-table-element">
            <a href="{{group.id}}">{{group.name}}</a>
        </div>
        {% endfor %}
    </div>
{% else %}
У вас нет доступных групп
{% endif %}
{% endblock %}
