{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
<script src="{% static 'js/manage-blackout.js' %}"></script>
<script src="{% static 'js/manage-data-edit.js' %}"></script>
<form method="post" id="main-form">
    {% csrf_token %}  
    <div id="group-manage-header">
        <div style="grid-column: 1;">
           <input type="text" name="group_name" value="{{ group.name }}" disabled="true" style="font-size: larger;" class="group-info"/>
           <button type="submit" name="edit_data" style="visibility: hidden;"></button>
        </div>
        <div style="grid-column: 2;">
            <button type="button" id="edit_button" name="edit_data" class="group-info button-icon" onclick="data_edit(this)"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div><span id="edit-span">Редактировать</span></button>
            <button class="button-icon" name="delete_group"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
        </div>
    </div>
</form>
<form method="dialog">
    <div style="grid-column: 2;">
        <button class="button-icon" onclick="disp_dialog($('#appoint-work'))"><div style="width: 2em; padding: 0;">{% include "icons/book-plus.html" %}</div><span>Назначить работу</span></button>
    </div>
</form>
    <hr style="margin-top: 15px; margin-bottom: 15px;"/>
    <div id="group-table-header">
        <span style="grid-column: 1; font-size: larger; margin-left: 5px;">Участники</span>
        <div style="grid-column: 2;">
            <button class="button" onclick="disp_dialog($('#add-group-member'))">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
    </div>
    <div id="group-table">
    {% for member in group.get_members %}
        <div style="grid-column: 1; border-left: none;" class="group-table-element">
            {{member.first_name}} {{member.last_name}}
        </div>
        <div style="grid-column: 2;" class="group-table-element">
            {{member.email}}
        </div> 
        <div style="grid-column: 3; padding: 0;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
            </form>
        </div>
        <div style="grid-column: 4; padding: 0; border-left: none;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="edit_perms:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
            </form>
        </div>
    {% endfor %}
    </div>
    <button id="blackout" style="display: none;" onclick="disp_dialog([$('#add-group-member'), $('#appoint-work')])"></button>
    {% include "./add_group_member.html" %}
    {% include "./appoint_work.html" %}
    <script src="{% static 'js/table-blackout-manage.js' %}"></script>
{% endblock %}
