{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}
{% load cache_bust %}

{% block content %}
<script src="{% static 'js/manage-blackout.js' %}?{% cache_bust %}"></script>
<script src="{% static 'js/manage-data-edit.js' %}?{% cache_bust %}"></script>
<form method="post" id="main-form">
    {% csrf_token %}  
    <div id="group-manage-header">
        <div style="grid-column: 1;">
           <input type="text" name="group_name" value="{{ group.name }}" disabled="true" style="font-size: larger;" class="group-info"/>
        </div>
        <div style="grid-column: 2;">
            <button type="submit" name="edit_data" class="group-info-confirm button-icon" style="display: none;"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div>Подтвердить</button>
            <button type="button" id="edit_button" class="group-info-undo button-icon" onclick="data_edit(this)" style="display: none;"><div style="width: 2em; padding: 0;">{% include "icons/undo-icon.html" %}</div>Отменить</button>
            <button type="button" id="edit_button" class="group-info-edit button-icon" onclick="data_edit(this)" style="display: inline-flex;"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div>Редактировать</button>
            <button type="button" class="button-icon" onclick="disp_dialog($('#delete-group-confirm'))"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
        </div>
    </div>
</form>
<form method="dialog">
    <div style="grid-column: 2;">
        <button class="button-icon" onclick="disp_dialog($('#appoint-work'))"><div style="width: 2em; padding: 0;">{% include "icons/book-plus.html" %}</div><span>Назначить работу</span></button>
    </div>
</form>
    <hr style="margin-top: 15px; margin-bottom: 15px;"/>
    <div id="group-table-header">
        <span style="grid-column: 1; font-size: larger; margin-left: 5px;">Участники</span>
        <div style="grid-column: 2;">
            <button class="button" onclick="disp_dialog($('#add-group-member'))">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
    </div>
    <div id="group-table">
    {% for member in group.get_members %}
        <div style="grid-column: 1; border-left: none;" class="group-table-element">
            {{member.first_name}} {{member.last_name}}
        </div>
        <div style="grid-column: 2;" class="group-table-element">
            {{member.email}}
        </div> 
        <div style="grid-column: 3; padding: 0;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
            </form>
        </div>
    {% endfor %}
    </div>
    <button id="blackout" style="display: none;" onclick="disp_dialog([$('#add-group-member'), $('#appoint-work'), $('#delete-group-confirm')])"></button>
    {% include "./add_group_member.html" %}
    {% include "./appoint_work.html" %}
    <form method="post">
        {% csrf_token %}
        <table id="delete-group-confirm" class="dialog-table" style="display: none;">
            <tr><td colspan="2">Вы уверены что хотите удалить группу {{ group.name }}?</td></tr>
            <tr>
                <td style="display: grid; justify-items: end;"><button name="delete_group" class="wrong">Подтвердить</button></td>
                <td><button type="button" onclick="disp_dialog($('#delete-group-confirm'))">Отменить</button></td>
            </tr>
        </table>
    </form>
    <script src="{% static 'js/table-blackout-manage.js' %}?{% cache_bust %}"></script>
{% endblock %}
