:root {
    --body-background-color: rgb(51, 51, 51); /* Цвет фона */
    --body-font-color: rgb(255, 245, 230); /* Цвет текста */
    --menu-background-color: rgb(41, 41, 41);
    --content-background-color: rgb(55, 55, 55);
    --button-background-color: rgb(221, 221, 221);
    --icon-background-color: rgb(53, 53, 53);
    --header-gradient-top: rgb(54, 54, 54);
    --header-gradient-bottom: rgb(48, 48, 48);
    --correct-color: #198754;
    --unchecked-color: #ffc107;
    --wrong-color: #dc3545;
    --no-answer-background-color: rgb(116,116,116);
    --dark-font-color: rgb(0, 10, 25);
}
