/* Общий стиль */
body {
    margin: 0;

    background: var(--body-background-color);
    color: var(--body-font-color);

    font-family: Arial, Helvetica, sans-serif;
}

    /* Блоки */
aside#menu, aside#content,
aside#right-side {
    position: absolute;
    top: 65px;
    bottom: 10px;

    overflow: scroll;
}

            /* Скрытие скроллбаров в блоках */
#menu::-webkit-scrollbar, #content::-webkit-scrollbar,
#foot::-webkit-scrollbar, #right-side::-webkit-scrollbar {
    width: 0;
    height: 0;
}

        /* Боковое меню */
aside#menu {
    left: 10px;

    width: calc(20% - 20px);

    padding: 10px;
    border-radius: 20px;

    background: var(--content-background-color);
    box-shadow: 4px 4px 4px var(--content-shadow-color);
}
#menu div {
    padding: 2px;
}
#menu a { 
    display: block;

    padding: 2px;
    padding-bottom: 0px;
    margin: 1px;

    font-size: 0.9em;
    text-decoration: none;
    color: var(--body-font-color);
}

        /* Блок с заданием */
aside#content {
    left: calc(20% + 20px);

    width: calc(75% - 40px);

    padding: 10px;
    padding-bottom: 35px;

    border-radius: 20px;
    box-shadow: 4px 4px 4px var(--content-shadow-color);
    background: var(--content-background-color);
}

        /* Правая часть сайта */
aside#right-side {
    right: 10px;

    width: calc(5% - 20px);
    
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}
button#right-side {
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0);
    color: var(--body-font-color);
}

        /* Нижняя часть сайта */
aside#foot {
    position: absolute;
    top: calc(100% - 62px);
    bottom: 10px;
    left: calc(20% + 30px);

    max-width: calc(75% - 60px);
    padding: 5px;

    background-color: var(--foot-background-color);
    border: 1px solid var(--foot-border-color);
    border-radius: 40px;
    box-shadow: 4px 4px 4px var(--foot-shadow-color);

    overflow: scroll;
}

/* Стили заголовков */
h1 {
    margin: 0px 5px 5px 0px;
    font-size: 28px;
}
h2 {
    margin-top: 0;
    margin: 0px 5px 5px 0px;
    font-size: 20px;
}

/* Стиль кнопок */
button.button, button.no_answer,
button.ok, button.partial,
button.wrong, button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

button.button, button {
    background-color: var(--button-background-color);
    color: var(--dark-font-color);

    box-shadow: 2px 2px 2px var(--button-shadow-color);
}

button.no_answer,
button.ok, button.partial,
button.wrong {
    box-shadow: none;
}

/* Скрывающееся дерево */
ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
    color: var(--body-font-color);
}

.caret-down::before {
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

/* Иконка сайта */
#main-icon {
    margin: 10px;
    width: 28px;
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 30%;
    background: var(--icon-background-color);
}

/* Шапка сайта */
.header {
    display: inline-block;
    vertical-align: middle;
}
    
header.header {
    width: 100%;
    height: 60px;
    padding: 0;
    white-space: nowrap;
    position: fixed;
    background: inherit;
    display: block;
    background-image: linear-gradient(var(--header-gradient-top), var(--header-gradient-bottom));
}
    
button.header {
    border-radius: 20px;
    padding: 5px 10px;
}
    
@font-face {
    font-family: 'Agency FB';
    src: url(fonts/AgencyFB-Bold.ttf);
}

h1.header {
    font-family:'Agency FB';
}

/* Стиль отметки сделанных работ */
a.no-answer {
    color: var(--body-font-color);
    background: var(--menu-background-color);
}

button.no-answer {
    background: var(--no-answer-background-color);
    color: var(--dark-font-color);
}

.correct, .partial,
.wrong {
    color: var(--dark-font-color);
}

.correct {
    background: var(--correct-color);
    color: var(--dark-font-color);
}

.unchecked {
    background: var(--unchecked-color);
    color: var(--dark-font-color);
}

.wrong {
    background: var(--wrong-color);
}

hr.header {
    background-color: var(--header-gradient-bottom);
    border-color: var(--header-gradient-bottom);
    width: 100%;
    display: block;
}

table.progress_line {
    width: 100%;
    border: 0px;
    margin-bottom: 3px;
}

td.no-answer {
    background-color: var(--no-answer-background-color);
}

td.correct {
    background-color: var(--correct-color);
}

td.partial {
    background-color: var(--unchecked-color);
}

td.wrong {
    background-color: var(--wrong-color);
}

/* Вертикальная линия (юзлесс) */
.vl {
    height: 30px;
    margin-bottom: -10px;
    width: 2px;
    background-color: var(--button-background-color);
    display: inline-block;
}
