/* Общий стиль */
body {
    background: rgb(51, 51, 51); /* Цвет фона */ 
    color: rgb(255, 245, 230); /* Цвет текста */
}
/* Боковое меню */
#menu {
    background: rgb(41, 41, 41);
}
/* Ссылки в меню */
/* #menu a { 
    color: rgb(255, 235, 210);
} */
/* Блок с заданием */
#content {
    background: rgb(55, 55, 55);
}
.line {
    border-bottom: 1px groove rgb(51, 51, 51); /* Линия между ссылками */
}
/* Стиль кнопок */
.button {
    background-color: rgb(221, 221, 221);
    color: black;
}

/* Скрывающееся дерево */
.caret::before {
    color: rgb(255, 245, 230);
}

/* Иконка сайта */
#main-icon {
    background: rgb(53, 53, 53);
}

/* Стиль отметки сделанных работ */
a.correct_work {
    background: #198754;
    color: rgb(0, 10, 25);
}

a.wrong_work {
    background: #dc3545;
    color: rgb(0, 10, 25);
}

a.unchecked_work {
    background: #ffc107;
    color: rgb(0, 10, 25);
}

a.no-answer_work {
    background: rgb(40, 40, 40);
}
