:root {
    --body-background-color: rgb(227, 228, 230); /* Цвет фона */
    --body-font-color: rgb(0, 10, 25); /* Цвет текста */
    --menu-background-color: rgb(217, 218, 220);
    --content-background-color: rgb(231, 232, 234);
    --button-background-color: rgb(203, 204, 206);
    --icon-background-color: rgb(225, 226, 228);
    --header-gradient-top: rgb(237, 238, 240);
    --header-gradient-bottom: rgb(231, 232, 234);
    --correct-color: rgb(44, 235, 146);
    --unchecked-color: rgb(255, 193, 7);
    --wrong-color: rgb(240, 57, 63);
    --no-answer-background-color: rgb(197,197,197);
    --dark-font-color: rgb(0, 10, 25);
}
