@import './stylesheet.css';

:root {
    --base-r: 51;
    --base-g: 51;
    --base-b: 51;

    --font-r: 255;
    --font-g: 245;
    --font-b: 230;

    --button-background-color: rgb(218, 218, 218);
    --button-shadow-color: rgba(200, 200, 200, 0.25);

    --correct-color: rgb(25, 135, 84);
    --unchecked-color: rgb(255, 193, 7);
    --wrong-color: rgb(220, 53, 69);
    --no-answer-background-color: rgb(116,116,116);
    --dark-font-color: rgb(0, 10, 25);
    
    --choosed-color: #ee754a;
}
