/* Общий стиль */
body {
    background: rgb(245, 245, 245); /* Цвет фона */ 
    color: rgb(0, 10, 25); /* Цвет текста */
}
/* Боковое меню */
#menu {
    background: rgb(235, 235, 235);
}
/* Ссылки в меню */
/* #menu a { 
    color: rgb(0, 20, 45);
} */
/* Блок с заданием */
#content {
    background: rgb(249, 249, 249);
}
.line {
    border-bottom: 1px groove rgb(249, 249, 249); /* Линия между ссылками */
}
/* Стиль кнопок */
.button {
    background-color: rgb(221, 221, 221);
    color: black;
}

/* Скрывающееся дерево */
.caret::before {
    color: rgb(0, 10, 25);
}

/* Иконка сайта */
#main-icon {
    background: rgb(243, 243, 243);
}

/* Стиль отметки сделанных работ */
a.correct_work {
    background: #198754;
    color: rgb(0, 10, 25);
}

a.wrong_work {
    background: #dc3545;
    color: rgb(0, 10, 25);
}

a.unchecked_work {
    background: #ffc107;
    color: rgb(0, 10, 25);
}

a.no-answer_work {
    background: rgb(245, 245, 245);
}
