<form method="post">
    {% csrf_token %}
    <table id="add-task" style="display: none;" class="dialog-table">
        <tr>
            <td>Название задачи:</td>

            <td><input name="task_name"/></td>
        </tr>
        <tr>
            <td>Имя шаблона:</td>
            <td><select name="task_type">
                {% for ttask in alltasktypes %}
                    <option value="{{ttask}}"> {{ttask}} </option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" name="newtask" class="button">Добавить задачу в работу</button></td>
        </tr>
    </table>
</form>
