{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
    <script>is_editing=false; is_blackout=false;</script>
    <form method="post" id="main-form">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns: auto max-content; align-items: center;">
            <div style="grid-column: 1;">
                <div style="grid-column: 1;"><input value="{{work.name}}" disabled="true" style="font-size: larger;" id="work_name" name="work_name"/></div>
            </div>
            <button type="button" id="edit_data" name="edit_data" style="grid-column: 2;" class="button-icon" onclick="
                    edit = document.getElementById('work_name');
                    if (is_editing) {
                        document.getElementById('edit_data').type = 'submit';
                    };
                    is_editing = !is_editing;
                    edit.disabled = false;
                    document.getElementById('work_name') = edit;
                "><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div></button>
        </div>
        <p>ID: {{work.id}}</p>
        <button type="button" id="appoint" name="appoint" onclick="
                is_blackout = !is_blackout;
                if (is_blackout) {
                    document.getElementById('appoint-work').style.display = 'block';
                    document.getElementById('blackout').style.display = 'block';
                } else {
                    document.getElementById('appoint-work').style.display = 'none';
                    document.getElementById('blackout').style.display = 'none';
                };
            ">Назначить группе</button>
    </form>
    
    <div id="work-table-header">
        <div style="grid-column: 1;"><span style="font-size: larger;">Задания</span></div>
        <div style="grid-column: 2;">
            <button class="button" onclick="
                is_blackout = !is_blackout;
                if (is_blackout) {
                    document.getElementById('add-task').style.display = 'block';
                    document.getElementById('blackout').style.display = 'block';
                } else {
                    document.getElementById('add-task').style.display = 'none';
                    document.getElementById('blackout').style.display = 'none';
                };
            ">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
        <div style="grid-column: 3;">
            <button class="button" onclick="
                is_blackout = !is_blackout;
                if (is_blackout) {
                    document.getElementById('add-task').style.display = 'block';
                    document.getElementById('blackout').style.display = 'block';
                } else {
                    document.getElementById('add-task').style.display = 'none';
                    document.getElementById('blackout').style.display = 'none';
                };
            ">{% include "icons/import-from-file-icon.html" %} &nbsp; Импорт &nbsp;</button>
        </div>
    </div>
    <div id="work-table">
    {% for task in work.tasks %}
        <div style="grid-column: 1; border-left: none;" class="work-table-element">
            {{task.name}}
        </div>
        <div style="grid-column: 2;" class="work-table-element">
            {{task.task_type.name}}
        </div> 
        <div style="grid-column: 3; padding: 0;" class="work-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete:{{task.id}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
            </form>
        </div>
    {% endfor %}
    </div>

    <a href="answer_stats" class="button">Данные по сданным ответам</a>

    <button id="blackout" style="display: none;" onclick="
        is_blackout = false;
        document.getElementById('add-task').style.display = 'none';
        document.getElementById('blackout').style.display = 'none';
        document.getElementById('appoint-work').style.display = 'none';
    "></button>
    {% include "./work_add_task.html" %}
    {% include "./work_appoint_work.html" %}
{% endblock %}
