{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}
{% load cache_bust %}

{% block content %}
    <script src="{% static 'js/manage-blackout.js' %}?{% cache_bust %}"></script>
    <script src="{% static 'js/manage-data-edit.js' %}?{% cache_bust %}"></script>
    <form method="post" id="main-form">
        {% csrf_token %}
        <div id="work-manage-header">
            <div style="grid-column: 1;">
                <div style="grid-column: 1;"><input value="{{work.name}}" disabled="true" style="font-size: larger;" id="work_name" name="work_name" class="work-name"/></div>
            </div>
            <div style="grid-column: 2;">
                <button type="submit" name="edit_data" class="work-name-confirm button-icon" style="display: none;"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div>Подтвердить</button>
                <button type="button" id="edit_button" class="work-name-undo button-icon" onclick="data_edit(this)" style="display: none;"><div style="width: 2em; padding: 0;">{% include "icons/undo-icon.html" %}</div>Отменить</button>
                <button type="button" id="edit_button" class="work-name-edit button-icon" onclick="data_edit(this)" style="display: inline-flex;"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div>Редактировать</button>
                <button type="button" class="button-icon" style="grid-column: 3;" onclick="disp_dialog($('#delete-work-confirm'))"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
            </div>
        </div>
        <p>ID: {{work.id}}</p>
        <button type="button" id="appoint" name="appoint" onclick="disp_dialog($('#appoint-work'))">Назначить группе</button>
    </form>
    <br/>
    <div id="work-table-header">
        <div style="grid-column: 1;"><span style="font-size: larger;">Задания</span></div>
        <div style="grid-column: 2;">
            <button class="button-icon" onclick="disp_dialog($('#add-task'))">{% include "icons/book-plus.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
    </div>
    <div id="work-table">
    {% for task in work.tasks %}
        <div style="grid-column: 1; border-left: none;" class="work-table-element">
            <a href="/teacher/works/tasks/{{ task.id }}/">{{task.name}}</a>
        </div>
        <div style="grid-column: 2;" class="work-table-element">
            <a href="/teacher/tasks/{{ task.task_type.id }}/">{{task.task_type.name}}</a>
        </div> 
        <div style="grid-column: 3; padding: 0;" class="work-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete:{{task.id}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
            </form>
        </div>
    {% endfor %}
    </div>
    <br/>
    <a href="answer_stats/" class="button">Данные по сданным ответам</a>


    <button id="blackout" style="display: none;" onclick="disp_dialog([$('#appoint-work'), $('#add-task'), $('#delete-work-confirm')])"></button>
    {% include "./work_add_task.html" %}
    {% include "./work_appoint_work.html" %}
    <form method="post">
        {% csrf_token %}
        <table id="delete-work-confirm" class="dialog-table" style="display: none;">
            <tr><td colspan="2">Вы уверены что хотите удалить работу {{ work.name }}?</td></tr>
            <tr>
                <td style="display: grid; justify-items: end;"><button name="delete_work" class="wrong">Подтвердить</button></td>
                <td><button type="button" onclick="disp_dialog($('#delete-work-confirm'))">Отменить</button></td>
            </tr>
        </table>
    </form>
    <script src="{% static 'js/table-blackout-manage.js' %}?{% cache_bust %}"></script>
{% endblock %}
