{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}
{% load cache_bust %}

{% block content %}
    <script src="{% static 'js/manage-data-edit.js' %}?{% cache_bust %}"></script>
    {% if task.field_overrides_items %}
    <form method="post">
        {% csrf_token %}
        <div id="task-field-table-header">
            <div style="grid-column: 1;">
                <input name="task-name" style="font-size: larger; margin-left: 5px;" value="{{ task.name }}" disabled="true" class="task-name"/>
            </div>
            <div style="grid-column: 2;">
                <button type="submit" name="edit_data" class="task-name-confirm button-icon" style="display: none;"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div>Подтвердить</button>
                <button type="button" id="edit_button" class="task-name-undo button-icon" onclick="data_edit(this)" style="display: none;"><div style="width: 2em; padding: 0;">{% include "icons/undo-icon.html" %}</div>Отменить</button>
                <button type="button" id="edit_button" class="task-name-edit button-icon" onclick="data_edit(this)" style="display: inline-flex;"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div>Редактировать</button>
            </div>
        </div>
        <div id="task-field-table">
            {% for name, value in task.field_overrides_items %}
                <div style="grid-column: 1; border-left: none;">
                    {{ name }}
                </div>
                <div style="grid-column: 2;">
                    <input name="{{ name }}" value="{{ value }}"/>
                </div> 
            {% endfor %}
        </div>
        <button type="submit" name="edit-task-fields">Сохранить</button>
    </form>
    {% else %}
        <span style="font-size: larger;">В шаблоне {{ task.name }} нет изменяемых полей</span>
    {% endif %}
{% endblock %}
