<form method="post">
    {% csrf_token %}
    <table id="appoint-work" style="display: none;">
        <tr>
            <td>Имя группы:</td>
            <td><select name="group_name">
                {% for id, name in groups_to_appoint %}
                    <option value="{{ id }}"> {{ name }} (ID: {{ id }}) </option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" name="appoint_to_group" class="button">Назначить работу</button></td>
        </tr>
    </table>
</form>
