{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
    <script>is_editing=false; is_blackout=false;</script>
    <form method="post" id="main-form">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns: auto max-content max-content; align-items: center;">
            <div style="grid-column: 1;">
                <div style="grid-column: 1;"><input value="{{work.name}}" disabled="true" style="font-size: larger;" id="work_name" name="work_name"/></div>
            </div>
            <button type="button" id="edit_data" name="edit_data" style="grid-column: 2;" class="button-icon" onclick="
                    edit = document.getElementById('work_name');
                    if (is_editing) {
                        document.getElementById('edit_data').type = 'submit';
                    };
                    is_editing = !is_editing;
                    edit.disabled = false;
                    document.getElementById('work_name') = edit;
                "><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div></button>
            <button class="button-icon" name="delete_work" style="grid-column: 3;"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
        </div>
        <p>ID: {{work.id}}</p>
        <button type="button" id="appoint" name="appoint" onclick="
                is_blackout = !is_blackout;
                if (is_blackout) {
                    document.getElementById('appoint-work').style.display = 'block';
                    document.getElementById('blackout').style.display = 'block';
                } else {
                    document.getElementById('appoint-work').style.display = 'none';
                    document.getElementById('blackout').style.display = 'none';
                };
            ">Назначить группе</button>
    </form>
    <div id="task-field-table-header">
        {{ task.name }}
    </div>
    <div id="task-field-table">
        {% for name, value in task.ltc_fields %}
            <div style="grid-column: 1; border-left: none;">
                {{ name }}
            </div>
            <div style="grid-column: 2;">
                <input name="name" value="{{ value }}"/>
            </div> 
        {% endfor %}
    </div>
{% endblock %}
