{% extends 'work_base.html' %}
{% load taskview_tags %}

{% block content %}
    <h2>Возьмите градиент функции f</h2><br/>
    <h2>f(x, y, z) = {{a}}x + {{b}}y + {{c}}z</h2>
    <h2>grad(f) = {<input name="answerx" style="width: fit-content"/>; <input name="answery" style="width: fit-content"/>; <input name="answerz" style="width: fit-content"/>}</h2>
    
    <!-- ниже переделать так чтобы было три ввода answerx, answery и answerz-->

    <button type="submit" class="button">Ответить</button>
{% endblock %}