{% extends 'users_panel.html' %}
{% load static %}
{% load laterem %}

{% block content %}
 <div id="user-table">
    <table>
        <tr style="background-color: var(--content-hover-color);">
            <td colspan="3"></td>
            <td style="width: 40px">
                <button class="button-icon" onclick="
                    disp = document.getElementById('add-user').style.display;
                    switch (disp) {
                        case 'none': disp = 'block';
                        break;
            
                        case 'block': disp = 'none';
                        break;
            
                        default: disp = 'block';
                    };
                    document.getElementById('add-user').style.display = disp;
                    document.getElementById('blackout').style.display = disp;
                ">{% include "icons/add-user-icon.html" %}</button>
            </td>
            <td style="width: 40px">
                <button class="button-icon" onclick="
                    disp = document.getElementById('add-user').style.display;
                    switch (disp) {
                        case 'none': disp = 'block';
                        break;
            
                        case 'block': disp = 'none';
                        break;
            
                        default: disp = 'block';
                    };
                    document.getElementById('add-user').style.display = disp;
                    document.getElementById('blackout').style.display = disp;
                ">{% include "icons/import-from-file-icon.html" %}</button>
            </td>
        </tr>
        {% for user in allusers %}
            <tr>
                <td>
                    {{user.first_name}}
                </td> 
                <td>
                    {{user.last_name}}
                </td>
                <td>
                    {{user.email}}
                </td> 
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="delete:{{user.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
                    </form>
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="edit:{{user.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
 </div>
<button id="blackout" style="display: none;" onclick="
        disp = document.getElementById('add-user').style.display;
        switch (disp) {
            case 'none': disp = 'block';
            break;

            case 'block': disp = 'none';
            break;

            default: disp = 'block';
        };
        document.getElementById('add-user').style.display = disp;
        document.getElementById('blackout').style.display = disp;
    "></button>
{% include "./add_user.html" %}{% endblock %}
 