{% load static %}
{% load taskview_tags %}
<!DOCTYPE html>
<html>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <head>
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'outline.svg' %}"/>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>
        {% if theme == 'light' %}
            <link rel="stylesheet" href="{% static 'css/stylesheet-light.css' %}"/>
        {% else %}
            <link rel="stylesheet" href="{% static 'css/stylesheet-dark.css' %}"/>
        {% endif %}
        <script src="{% static 'js/caret-manager.js' %}"></script>
    </head>
    <body>
        <div id="menu">
            {% tree "workdir" %}
        </div>
        <!-- <div id="main-icon">
            <img src="{% static 'main.svg' %}" width="28px"/>
        </div> -->
        <br/>
        <h1 align="center">Тестовый вариант сайта по ЦЭ от Спайда и Журы</h1>
        <br/> Привет, {{user.email}}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="button" name="change-color-theme" style="position: fixed; right: 5px; top: 5px; padding: 5px 10px;"><img src="{% static 'change-color.svg' %}" style="width: 10px"/></button>
        </form>
        <div id="content">
            <h2>{{ work_name }}</h2>
            {% if task_name %}
                <h2>Задача: {{task_name}}</h2>
                <br/>
            {% endif %}
            {% block content %}
            {% endblock %}
            <div id="foot">
                {% block foot %}
                {% endblock %}
            </div>
        </div>


        <script>
            var toggler = document.getElementsByClassName("caret");
            var i;
            
            for (i = 0; i < toggler.length; i++) {
              toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
              });
            }
        </script>
    </body>
</html>