{% extends 'base.html' %}

{% block left-side %}
Профиль<br>
Внешний вид сайта
{% endblock %}

{% block content %}
<div style="display: flex; margin-bottom: 10px;">
    <div style="width: 100px; height: 100px;">{% include "icons/user-icon.html" %}</div>
    <div>
        <h1 style="justify-self: baseline;">{{user.dbmodel.first_name}}</h1><h1 style="justify-self: baseline;">{{user.dbmodel.last_name}}</h1>
        <a class="button" href="/logout">Выйти</a>
    </div>
</div>
<hr/>
<h1>Настройки сайта</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Внешний вид сайта</h2>
        <p>Тема: <button type="submit" class="button" name="change-color-theme" style="padding: 2px 4px 2px 4px;">{% include "icons/change-color-icon.html" %}</button> {{theme}}</p>
    </form>

{% endblock %}
