{% extends 'base.html' %}
{% load laterem %}

{% block left-side %}
    {% tree "workdir" %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ work_name }}
    <br/>
    {% if task.name %}
        Задача: {{task.name}}
        <br/>
    {% endif %}
    <div style="text-align: left;">
        {% include task.template_path %}
        <button type="submit" class="button">Проверить</button>
    </div>
</form>
{% endblock %}
{% block foot %}
    {% with button_list_items=task_list %}
        {% include "button_list.html" %}
    {% endwith %}
{% endblock %}
{% block right-side %}
    <form method="post" style="height: 100%;">
        {% csrf_token %}
        <button type="submit" name="redirect:task{{next_task}}" id="right-side" class="button"><span></span></button>         
    </form>
{% endblock %}