{% extends 'base.html' %}
{% load static %}
{% load laterem %}
{% load cache_bust %}

{% block menu %}
    {% comment %} {% if student_tree %}
        {{ student_tree | safe }}
    {% else %} {% endcomment %}
        {% with tree_title="Доступные работы" %}
            {% tree "workdir" %}
        {% endwith %}
    {% comment %} {% endif %} {% endcomment %}
{% endblock %}

{% block content %}
<div id="work_content">
    <form method="post" id="answer-form">
        {% csrf_token %}
        {{ work_name }}
        <br/>
        {% if task.name %}
            Задача: {{task.name}}
            <br/>
        {% endif %}
        <div style="text-align: left;" id="task-area">
            {% include task.view_path %}
            <button type="submit" class="button">Проверить</button>
        </div>
    </form>
    <script src="{% static 'js/navtree-state-saver.js' %}?{% cache_bust %}"></script>
</div>
<aside id="left-side">
    <form method="post" style="height: 100%;">
        {% csrf_token %}
        <button type="submit" name="redirect:task{{previous_task}}" id="left-side" class="button"><span></span></button>         
    </form>
</aside>
<aside id="right-side">
    <form method="post" style="height: 100%;">
        {% csrf_token %}
        <button type="submit" name="redirect:task{{next_task}}" id="right-side" class="button"><span></span></button>         
    </form>
</aside>
{% endblock %}
{% block foot %}
    {% with button_list_items=task_list %}
        {% include "element_templates/button_list.html" %}
    {% endwith %}
{% endblock %}
