{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
    <div style="display: grid; grid-template-columns: auto max-content; align-items: center;">
        <h2 style="grid-column: 1;">{{group.name}}</h2>
        <button style="grid-column: 2;" class="button-icon"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div></button>
        <p style="grid-column: 1;">group.description</p>
    </div>
    <div id="group-table-header">
        <p style="grid-column: 1;">Участники</p>
        <div style="grid-column: 2;">
            <button class="button" onclick="
                disp = document.getElementById('add-group-member').style.display;
                switch (disp) {
                    case 'none': disp = 'block';
                    break;
        
                    case 'block': disp = 'none';
                    break;
        
                    default: disp = 'block';
                };
                document.getElementById('add-group-member').style.display = disp;
                document.getElementById('blackout').style.display = disp;
            ">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
        <div style="grid-column: 3;">
            <button class="button" onclick="
                disp = document.getElementById('add-group-member').style.display;
                switch (disp) {
                    case 'none': disp = 'block';
                    break;
        
                    case 'block': disp = 'none';
                    break;
        
                    default: disp = 'block';
                };
                document.getElementById('add-group-member').style.display = disp;
                document.getElementById('blackout').style.display = disp;
            ">{% include "icons/import-from-file-icon.html" %} &nbsp; Импорт &nbsp;</button>
        </div>
    </div>
    <div id="group-table">
    {% for member in group.get_members %}
        <div style="grid-column: 1; border-left: none;" class="group-table-element">
            {{member.first_name}} {{member.last_name}}
        </div>
        <div style="grid-column: 2;" class="group-table-element">
            {{member.email}}
        </div> 
        <div style="grid-column: 3; padding: 0;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
            </form>
        </div>
        <div style="grid-column: 4; padding: 0; border-left: none;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="edit_perms:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
            </form>
        </div>
    {% endfor %}
    </div>
    <button id="blackout" style="display: none;" onclick="
        disp = document.getElementById('add-group-member').style.display;
        switch (disp) {
            case 'none': disp = 'block';
            break;

            case 'block': disp = 'none';
            break;

            default: disp = 'block';
        };
        document.getElementById('add-group-member').style.display = disp;
        document.getElementById('blackout').style.display = disp;
    "></button>
    {% include "./add_group_member.html" %}
{% endblock %}
