{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
{% if allgroup %}
    {% for group, members in allgroup.items %}
    <div class="group">
        <div id="group-table-header">{{group}}</div>
        <div id="group-table">
        {% for member in members %}
            <div class="group-table-element">{{member}}</div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
{% else %}
У вас нет доступных групп
{% endif %}
{% endblock %}
