{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
<script>is_blackout = false;</script>
<form method="post" id="main-form">
    {% csrf_token %}  
    <div id="group-manage-header">
        <div style="grid-column: 1;">
            {{ rename_form.name }}
           <!-- <input type="text" name="{{ rename_form.name.name }}" value="{{group.name}}" disabled="true" style="font-size: larger;" class="group-info"/> -->
        </div>

        <div style="grid-column: 2;">
            <button type="submit" name="edit_data" class="button-icon"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div><span id="edit-span">Редактировать</span></button>
            <button type="submit" name="delete_group" class="button-icon"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
        </div>

        <!-- <div style="grid-column: 2;">
            <button type="submit" name="edit_data" class="button-icon" onclick="
                edits = document.getElementsByClassName('group-info');
                for (i=0; i<edits.length; i++) {
                    edits[i].disabled = !edits[i].disabled;
                }
                text = document.getElementById('edit-span').textContent;
                switch (text) {
                    case 'Подтвердить':
                        text = 'Редактировать';
                        document.getElementById('main-form').method = 'post';
                    break;
                    case 'Редактировать':
                        text = 'Подтвердить';
                        document.getElementById('main-form').method = 'dialog';
                    break;
                    default: text = 'Подтвердить';
                };
                document.getElementById('edit-span').textContent = text;
            "><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div><span id="edit-span">Редактировать</span></button>
            <button class="button-icon"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
        </div> -->
        <!--<div style="grid-column: 1;">
            <input value="group.description" disabled="true" class="group-info"/>
        </div>-->
    </div>
</form>
<form method="dialog">
    <div style="grid-column: 2;">
        <button class="button-icon" onclick="
        disp = document.getElementById('appoint-work').style.display;
                switch (is_blackout) {
                    case false: disp = 'block';
                    break;
        
                    case true: disp = 'none';
                    break;
        
                    default: disp = 'block';
                };
                is_blackout = !is_blackout;
                document.getElementById('appoint-work').style.display = disp;
                document.getElementById('blackout').style.display = disp
        "><div style="width: 2em; padding: 0;">{% include "icons/book-plus.html" %}</div><span>Назначить работу</span></button>
    </div>
</form>
    <hr style="margin-top: 15px; margin-bottom: 15px;"/>
    <div id="group-table-header">
        <span style="grid-column: 1; font-size: larger; margin-left: 5px;">Участники</span>
        <div style="grid-column: 2;">
            <button class="button" onclick="
                disp = document.getElementById('add-group-member').style.display;
                switch (is_blackout) {
                    case false: disp = 'block';
                    break;
        
                    case true: disp = 'none';
                    break;
        
                    default: disp = 'block';
                };
                is_blackout = !is_blackout;
                document.getElementById('add-group-member').style.display = disp;
                document.getElementById('blackout').style.display = disp;
            ">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
        <div style="grid-column: 3;">
            <button class="button" onclick="
                disp = document.getElementById('add-group-member').style.display;
                switch (is_blackout) {
                    case false: disp = 'block';
                    break;
        
                    case true: disp = 'none';
                    break;
        
                    default: disp = 'block';
                };
                is_blackout = !is_blackout;
                document.getElementById('add-group-member').style.display = disp;
                document.getElementById('blackout').style.display = disp;
            ">{% include "icons/import-from-file-icon.html" %} &nbsp; Импорт &nbsp;</button>
        </div>
    </div>
    <div id="group-table">
    {% for member in group.get_members %}
        <div style="grid-column: 1; border-left: none;" class="group-table-element">
            {{member.first_name}} {{member.last_name}}
        </div>
        <div style="grid-column: 2;" class="group-table-element">
            {{member.email}}
        </div> 
        <div style="grid-column: 3; padding: 0;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
            </form>
        </div>
        <div style="grid-column: 4; padding: 0; border-left: none;" class="group-table-element">
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="edit_perms:{{member.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
            </form>
        </div>
    {% endfor %}
    </div>
    <button id="blackout" style="display: none;" onclick="
        switch (is_blackout) {
            case false: disp = 'block';
            break;

            case true: disp = 'none';
            break;

            default: disp = 'block';
        };

        is_blackout = !is_blackout;

        document.getElementById('add-group-member').style.display = disp;
        document.getElementById('appoint-work').style.display = disp;
        document.getElementById('blackout').style.display = disp;

    "></button>
    {% include "./add_group_member.html" %}
    {% include "./appoint_work.html" %}
{% endblock %}
