<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: none;" id="import-users" class="dialog-table">
        <div>
            Прикрепите файл формата CSV, в котором:
            <ul>
                <li>Используется символ ";" в качестве разделителя</li>
                <li>Есть столбец "first_name" (Имя пользователя)</li>
                <li>Есть столбец "last_name" (Фамилия пользователя)</li>
                <li>Есть столбец "email" (Почта пользователя)</li>
                <li>Есть столбец "password" (Пароль для входа пользователя)</li>
                <li>Есть заглавная строка с подписанными столбцами</li>
            </ul> <br>
            Порядок столбцов не имеет значения
        </div>
        <table>
            <tr>
                <td>CSV файл: </td>
                <td><input type="file" name="import_file"></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="2"><div style="width:100%; display:grid;"><button type="submit" name="submit_import_users" class="button" style="justify-self: center;">Добавить пользователей</button></div></td>
            </tr>
        </table>
    </div>
</form>
