{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
<script>is_editing = false;</script>
<script src="{% static 'js/manage-blackout.js' %}"></script>
<form method="dialog" id="main-form">
    {% csrf_token %}  
    <div id="user-table-header">
        <div style="grid-column: 1;">
            <span style="font-size: larger; margin-left: 5px;">Все пользователи сайта</span>
        </div>
        <div style="grid-column: 2;">
            <button class="button" onclick="disp_dialog($('#add-user')[0])">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
        </div>
        <div style="grid-column: 3;">
            <button class="button" onclick="disp_dialog($('#import-users')[0])">{% include "icons/import-from-file-icon.html" %} &nbsp; Импорт &nbsp;</button>
        </div>
    </div>

    <div id="user-table">
        {% for user in allusers %}
            <div style="grid-column: 1; border-left: none;" class="user-table-element">
                <input value="{{user.first_name}}" class="{{user.email}}" disabled="true" name="user_name"/> <input value="{{user.last_name}}" class="{{user.email}}" disabled="true" name="user_lastname"/>
            </div>
            <div style="grid-column: 2;" class="user-table-element">
                <input value="{{user.email}}" class="{{user.email}}" disabled="true" name="user_email"/> <input class="{{user.email}}" disabled="true" name="user_password"/>
            </div> 
            <div style="grid-column: 3; padding: 0;" class="user-table-element">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="delete:{{user.email}}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
                </form>
            </div>
            <div style="grid-column: 4; padding: 0; border-left: none;" class="user-table-element">
                <button id="edit_button" type="button" name="edit:{{user.email}}" class="button-icon"onclick="
                        edits = document.getElementsByClassName('{{user.email}}');
                        if (is_editing) {
                            document.getElementById('edit_button').type = 'submit';
                            document.getElementById('main-form').method = 'post';
                        }
                        for (i=0; i<edits.length; i++) {
                            edits[i].disabled = false;
                        }
                        is_editing = !is_editing;
                    "><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
            </div>
        {% endfor %}
    </div>
    <button id="blackout" style="display: none;" onclick="disp_dialog([$('#add-user'), $('#import-users')])"></button>
    {% include "./add_user.html" %}
    {% include "./import_users.html" %}
    <script src="{% static 'js/table-blackout-manage.js' %}"></script>
</form>
{% endblock %}
