{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
{% if allworks %}
    <!-- <div id="all-groups-table">
        {% for work in allworks %}
        <div class="all-groups-table-element">
            <a href="{{work.id}}">{{work.name}}</a>
        </div>
        {% endfor %}
    </div> -->
    <form method="post">
        {% csrf_token %}
        {% fillable_tree "workdir" %}
    </form>
{% else %}
У вас нет доступных работ
{% endif %}
{% endblock %}
