<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table id="add-task" style="display: none;" class="dialog-table">
        <tr>
            <td>Имя шаблона: </td>
            <td><input type="text" name="task_type_name"/></td>
        </tr>
        <tr>
            <td>LTC: </td>
            <td><input type="file" name="config_file"></td>
        </tr>
        <tr>
            <td>HTML: </td>
            <td><input type="file" name="view_file"/></td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2"><div style="width:100%; display:grid;"><button type="submit" name="newtask" class="button" style="justify-self: center;">Отправить шаблон задачи</button></div></td>
        </tr>
    </table>
</form>
