{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
    <form method="post" id="main-form">
        {% csrf_token %}
        <div id="task-manage-header">
            <div style="grid-column: 1;">
               <input type="text" name="task_name" value="{{task.name}}" disabled="true" style="font-size: larger;" class="task-info"/>
            </div>
            <div style="grid-column: 2;">
                <button type="button" id="edit_button" name="edit_data" class="button-icon" onclick="
                    edits = document.getElementsByClassName('task-info');
                    text = document.getElementById('edit-span').textContent;
                    if (is_editing) {
                        text = 'Редактировать';
                        document.getElementById('edit_button').type = 'submit';
                    } else {
                        text = 'Подтвердить';
                    }
                    for (i=0; i<edits.length; i++) {
                        edits[i].disabled = false;
                    }
                    is_editing = !is_editing;
                    document.getElementById('edit-span').textContent = text;
                "><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div><span id="edit-span">Редактировать</span></button>
                <button class="button-icon", name="delete_task"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
            </div>
        </div>
    </form>
{% endblock %}
