{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
    <script src="{% static 'js/manage-data-edit.js' %}"></script>
    <form method="post" id="main-form">
        {% csrf_token %}
        <div id="task-manage-header">
            <div style="grid-column: 1;">
               <input type="text" name="task_name" value="{{ task.name }}" disabled="true" style="font-size: larger;" class="edit-task-name task-info"/>
               <button type="submit" name="edit_data" style="visibility: hidden;"></button>
            </div>
            <div style="grid-column: 2;">
                <button type="button" id="edit_button" name="edit_data" class="edit-task-name button-icon" onclick="data_edit(this)"><div style="width: 2em; padding: 0;">{% include "icons/pencil-icon.html" %}</div><span id="edit-span">Редактировать</span></button>
                <button class="button-icon" name="delete_task"><div style="width: 2em; padding: 0;">{% include "icons/delete-icon.html" %}</div><span>Удалить</span></button>
            </div>
            <p>ID: {{ task.id }}</p>
        </div>
        <div id="task-manage-table">
            <div style="grid-column: 1;">
                <div id="task-manage-table-column-header">
                    <p>LTC</p>
                    <button name="download_ltc">Скачать</button>
                </div>
                <pre>
{{ ltc_text }}
                </pre>
            </div>
            <div width="10px" style="grid-column: 2;"></div>
            <div style="grid-column: 3;">
                <div id="task-manage-table-column-header">
                    <p>HTML</p>
                    <button name="download_html">Скачать</button>
                </div>
                <pre>
{{ html_text }}
                </pre>
            </div>
        </div>
    </form>
{% endblock %}
