{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}
{% load cache_bust %}

{% block content %}
<script src="{% static 'js/manage-data-edit.js' %}?{% cache_bust %}"></script>
<script src="{% static 'js/manage-blackout.js' %}?{% cache_bust %}"></script>
<div id="task-table-header">
    <span style="grid-column: 1; font-size: larger; margin-left: 5px;">Шаблоны задач</span>
    <div style="grid-column: 2;">
        <button class="button-icon" onclick="disp_dialog($('#add-task'))">{% include "icons/book-plus.html" %} &nbsp; Добавить &nbsp;</button>
    </div>
</div>
<div id="task-table">
{% for temp in alltasktypes %}
    <div style="border-left: none;" class="task-table-element">
        <!-- here must be an input with class edit-template-{{ temp.id }} and value {{ temp.name }} -->
        <a href="{{ temp.id }}/">{{ temp.name }}</a>
    </div>
    <div style="grid-column: 2; padding: 0;" class="task-table-element">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="edit:{{ temp.id }}" class="edit-template-{{ temp.id }}-confirm button-icon" style="display: none;"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
            <button type="button" name="edit:{{ temp.id }}" class="edit-template-{{ temp.id }}-undo button-icon" onclick="data_edit(this)" style="display: none;"><div style="width: 1.5em">{% include "icons/undo-icon.html" %}</div></button>
            <button type="button" name="edit:{{ temp.id }}" class="edit-template-{{ temp.id }}-edit button-icon" onclick="data_edit(this)" style="display: inline-flex;"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
        </form>
    </div>
    <div style="grid-column: 3; padding: 0; border-left: none;" class="task-table-element">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="delete:{{ temp.id }}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
        </form>
    </div>
{% endfor %}
</div>
<button id="blackout" style="display: none;" onclick="disp_dialog($('#disp_dialog'))"></button>
{% include "./add_task.html" %}
<script src="{% static 'js/table-blackout-manage.js' %}?{% cache_bust %}"></script>
{% endblock %}
