{% extends 'teacher_panel/teacher_panel_base.html' %}
{% load static %}
{% load laterem %}

{% block content %}
<script>is_blackout = false;</script>
<div id="task-table-header">
    <span style="grid-column: 1; font-size: larger; margin-left: 5px;">Шаблоны задач</span>
    <div style="grid-column: 2;">
        <button class="button" onclick="
            disp = document.getElementById('add-task').style.display;
                        switch (is_blackout) {
                                case false: disp = 'block';
                                break;
                
                                case true: disp = 'none';
                                break;           
                            default: disp = 'block';
                        };
                    is_blackout = !is_blackout;
                    document.getElementById('add-task').style.display = disp;
                    document.getElementById('blackout').style.display = disp;
        ">{% include "icons/add-user-icon.html" %} &nbsp; Добавить &nbsp;</button>
    </div>
</div>
<div id="task-table">
{% for temp in all_templates %}
    <div style="border-left: none;" class="task-table-element">
        {{ temp }}
    </div>
    <div style="grid-column: 2; padding: 0;" class="task-table-element">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="delete:{{ temp }}" class="button-icon"><div style="width: 1.5em">{% include "icons/delete-icon.html" %}</div></button>
        </form>
    </div>
    <div style="grid-column: 3; padding: 0; border-left: none;" class="task-table-element">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="edit:{{ temp }}" class="button-icon"><div style="width: 1.5em">{% include "icons/pencil-icon.html" %}</div></button>
        </form>
    </div>
{% endfor %}
</div>
<button id="blackout" style="display: none;" onclick="
disp = document.getElementById('add-task').style.display;
switch (disp) {
    case 'none': disp = 'block';
    break;

    case 'block': disp = 'none';
    break;

    default: disp = 'block';
};
document.getElementById('add-task').style.display = disp;
document.getElementById('blackout').style.display = disp;
"></button>
{% include "./add_task.html" %}
{% endblock %}
